{% load staticfiles %}<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/blog.min.css" %}">
    <link rel="stylesheet" href="{% static "css/pace.css" %}">
    <script>
        paceOptions = {
            // Configuration goes here. Example:
            elements: false,
            restartOnPushState: false,
            restartOnRequestAfter: false
        }
    </script>
</head>

<body>
    <div class="blog blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">






        <main class="mdl-layout__content">
            <div class="back">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
                    <i class="material-icons" role="presentation">arrow_back</i>
                </a>
            </div>
            <div class="blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        <h3>On the road again</h3>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div class="minilogo"></div>
                        <div>
                            <strong>The Newist</strong>
                            <span>2 days ago</span>
                        </div>
                        <div class="section-spacer"></div>
                        <div class="meta__favorites">
                            425 <i class="material-icons" role="presentation">favorite</i>
                            <span class="visuallyhidden">favorites</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">bookmark</i>
                            <span class="visuallyhidden">bookmark</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">share</i>
                            <span class="visuallyhidden">share</span>
                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <p>
<!-- BLOCK CONTENT -->
{% block content %}

{% endblock %}
<!-- /BLOCK CONTENT -->
                        </p>
                    </div>


                </div>

                <nav class="nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                    <a href="index.html" class="nav__button">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_back</i>
                        </button>
                        Newer
                    </a>
                    <div class="section-spacer"></div>
                    <a href="index.html" class="nav__button">
              Older
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_forward</i>
              </button>
            </a>
                </nav>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                        <span class="visuallyhidden">Twitter</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                        <span class="visuallyhidden">Facebook</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                        <span class="visuallyhidden">Google Plus</span>
                    </button>
                </div>
                <div class="mdl-mini-footer--right-section">
                    <button class="mdl-mini-footer--social-btn social-btn__share">
                        <i class="material-icons" role="presentation">share</i>
                        <span class="visuallyhidden">share</span>
                    </button>
                </div>
            </footer>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>
</body>

</html>