{% load staticfiles %}<!doctype html>
<html lang="en">
<!-- /blog/templates/blog/pagt.html -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Um 338 - {% block title %}{% endblock %}</title>


    <link rel="shortcut icon" href="{% static "images/ico.png" %}" />

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/pace.css" %}">
    <style>
        .layout-transparent .mdl-layout__header,
        .layout-transparent .mdl-layout__drawer-button {
            /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
            
            color: white;
        }
    </style>

</head>

<body>


    <div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">


        <div class="layout-transparent mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
      <!--
                    <span class="mdl-layout-title"><h1>Title</h1></span>
      <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="">Home</a>
                        <a class="mdl-navigation__link" href="">Contato</a>
                        <a class="mdl-navigation__link" href="">Sobre</a>
                        <a class="mdl-navigation__link" href="">Arquivo</a>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                              <form action="search" method="get" autocomplete="off">
                                <input class="mdl-textfield__input" type="text" name="q" id="waterfall-exp" auto />
                              </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Home</a>
                    <a class="mdl-navigation__link" href="">Contato</a>
                    <a class="mdl-navigation__link" href="">Sobre</a>
                    <a class="mdl-navigation__link" href="">Arquivo</a>
                </nav>
            </div>


        <main class="mdl-layout__content">
            <div class="back">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
                    <i class="material-icons" role="presentation">arrow_back</i>
                </a>
            </div>
            <div class="blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">



<!-- BLOCK CONTENT -->
{% block content %}

{% endblock %}
<!-- /BLOCK CONTENT -->
                </div>

                <nav class="nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                    <a href="index.html" class="nav__button">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_back</i>
                        </button>
                        Newer
                    </a>
                    <div class="section-spacer"></div>
                    <a href="index.html" class="nav__button">
              Older
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_forward</i>
              </button>
            </a>
                </nav>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                        <span class="visuallyhidden">Twitter</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                        <span class="visuallyhidden">Facebook</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                        <span class="visuallyhidden">Google Plus</span>
                    </button>
                </div>
                <div class="mdl-mini-footer--right-section">
                    <button class="mdl-mini-footer--social-btn social-btn__share">
                        <i class="material-icons" role="presentation">share</i>
                        <span class="visuallyhidden">share</span>
                    </button>
                </div>
            </footer>
        </main>
        <div class="mdl-layout__obfuscator"></div>


        </div>
    </div>

    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>
</body>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
        var link = el.querySelector('a');
        if (!link) {
            return;
        }
        var target = link.getAttribute('href');
        if (!target) {
            return;
        }
        el.addEventListener('click', function() {
            location.href = target;
        });
    });
</script>

</html>
