{% extends "blog/base_page.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<!-- /blog/templates/blog/blogentry_detail.html -->
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        <h3>{{ object.title }}</h3>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div class="minilogo"></div>
                        <div>
                            <strong>{{ object.created_by }}</strong>
                            <span>{{ object.created_on|date }} - {{ now|date }}</span>
                        </div>
                        <div class="section-spacer"></div>
                        <div class="meta__favorites">
                            425 <i class="material-icons" role="presentation">favorite</i>
                            <span class="visuallyhidden">favorites</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">bookmark</i>
                            <span class="visuallyhidden">bookmark</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">share</i>
                            <span class="visuallyhidden">share</span>
                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <p>
                            {{ object.text|safe }}
                        </p>
                    </div>
{% endblock %}
